In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('first_app').getOrCreate()

/home/siddhartha/spark-3.2.1-bin-hadoop3.2/python/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [74]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)

In [2]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [5]:
df.describe().show()

+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+
|summary|               age|gender|            name|course|              roll|            marks|               email|
+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+
|  count|              1000|  1000|            1000|  1000|              1000|             1000|                1000|
|   mean|            28.506|  null|            null|  null|       4997014.708|           60.097|                null|
| stddev|0.5002141683461337|  null|            null|  null|2888208.5159476185|22.85537046208087|                null|
|    min|                28|Female|     Abram Nagao| Cloud|              2984|               20|Abram Nagao_Celes...|
|    max|                29|  Male|Toshiko Hillyard|    PF|           9991617|               99|Toshiko Hillyard_...|
+-------+------------------+------+----------------+------+------------------+-----------------+--------------------+

Q1)  Show the total number of Students in the file

In [19]:
#X = df.groupBy(df['roll']).count()
df.count()

1000

Q2) total marks achieved by male and female students

In [59]:
#df_q2 = df["gender","marks"]
#df_q2.show()
#total = df_q2.groupBy().sum()
#total.show()
#df_q2.filter(df["gender"] == "Male").select(['marks']).sum()
#spark.createDataFrame(a,["count","country"])
#from pyspark.sql.functions import sum
#df.filter(df['gender']=="Male").select(['marks']).sum().show()
#male_total_marks = df.filter(df["gender"] == "Male").select(['marks']).sum()



df_q2 = df['gender', 'marks']
total = df_q2.groupBy("gender").sum()
total.show()
df_q2 = 0

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

Q3) Show the total number of students that have passed or failed

In [112]:
#df.filter(df[marks] >=50).show()
#result = spark.sql("select * from first_app where marks >= 50 ")

#df_q3 = df["marks"]
#total = df_q3.filter("marks >=50 ").sum()
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
passed = df.filter(df['marks'] >=50).select('marks').count()
print("The total number of students passed are ",passed)
print("--"*30)
failed = df.filter(df['marks'] <50).select('marks').count()
print("The total number of students passed are ",failed)

The total number of students passed are  644
------------------------------------------------------------
The total number of students passed are  356



Q4) show the total number of students enrolled per course

In [122]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
course_enrolled = df.groupBy("course").count()

print("--"*30)
print("The total number of students enrolled per course are ")
print(course_enrolled.show())

------------------------------------------------------------
The total number of students enrolled per course are
+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

None

Q5) show the total marks student achieved per course

In [136]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
df_q5 = df['course', 'marks']
total = df_q5.groupBy("course").sum()
total.show()

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

Q6) show the average marks student achieved per course

In [137]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
df_q6 = df['course', 'marks']
total = df_q6.groupBy("course").mean()
total.show()

print("--"*30)

from pyspark.sql.functions import format_number
total.select(format_number(total[1], 2).alias('avg_marks')).show()

print("--"*30)

+------+------------------+
|course|        avg(marks)|
+------+------------------+
|    PF| 59.83734939759036|
|    DB|59.044585987261144|
|   MVC| 61.05095541401274|
|   DSA| 62.21590909090909|
| Cloud|59.598958333333336|
|   OOP|  58.6578947368421|
+------+------------------+

------------------------------------------------------------
+---------+
|avg_marks|
+---------+
|    59.84|
|    59.04|
|    61.05|
|    62.22|
|    59.60|
|    58.66|
+---------+

------------------------------------------------------------

Q7) show the minimum and maximum marks student achieved per course

In [138]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
df_q7 = df['course', 'marks']
min = df_q7.groupBy("course").min().show()
max = df_q7.groupBy("course").max().show()

+------+----------+
|course|min(marks)|
+------+----------+
|    PF|        20|
|    DB|        20|
|   MVC|        22|
|   DSA|        20|
| Cloud|        20|
|   OOP|        20|
+------+----------+

+------+----------+
|course|max(marks)|
+------+----------+
|    PF|        99|
|    DB|        98|
|   MVC|        99|
|   DSA|        99|
| Cloud|        99|
|   OOP|        99|
+------+----------+

Q8) show the average age of male and female students

In [142]:
df = spark.read.csv('StudentData.csv',inferSchema=True,header=True)
df_q8 = df['gender', 'age']
total = df_q8.groupBy("gender").mean()
total.show()

print("--"*30)

from pyspark.sql.functions import format_number
total.select(format_number(total[1], 2).alias('avg_age')).show()

print("--"*30)

+------+------------------+
|gender|          avg(age)|
+------+------------------+
|Female|28.489021956087825|
|  Male| 28.52304609218437|
+------+------------------+

------------------------------------------------------------
+-------+
|avg_age|
+-------+
|  28.49|
|  28.52|
+-------+

------------------------------------------------------------